body {
    background-color: #EAE7EB;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: inherit;
    flex-direction: inherit;
    height: 70vh;
}

main {
    display: inherit;
    flex-direction: column;
}

footer {
    display: inherit;
    justify-content: flex-end;
    align-items: center;
    background-color: #080707;
}

h1 {
    font-family: "Space Mono", monospace;
    font-size: 10vh;
    letter-spacing: 5px;
    display: inherit;
    justify-content: center;
    align-items: center;
    color: #EAE7EB;
    background-color: #2c5391;
    width: 100%;
    margin: 0;
    height: 30vh;
}

h2 {
    font-family: "Space Mono", monospace;
}

h3 {
    font-family: "Space Mono", monospace;
    font-size: 100%;
    margin: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(175deg, #080707, #231E24);
    height: 40vh;
}

li {
    color: #EAE7EB;
}

article {
    display: inherit;
}

section {
    display: inherit;
    margin: 25px 50px;
}

p {
    font-family: "Mulish", sans-serif;
    line-height: 1.8;
    margin: 15px;
    text-align: justify;
}

figure {
    display: inherit;
    flex-direction: column;
    align-content: center;
}

.article-button {
    background-color: #2c5391;
    color: #EAE7EB;
    width: 100%;
    border-width: 0;
    height: 10vh;
}

.article-button:hover {
    background-color: #26477C;
    color: #EAC435;
}

.city {
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    margin: 10px 20px;
}

.goal_icon {
    font-size: 48px;
}

.media-logo {
    margin: 15px 40px 15px 0;
}

.media-link{
    width: 32px;
    height: auto;
}

#about-fig{
    width: 20%;
}

#cities {
    flex-wrap: wrap;
    justify-content: center;
}

#goals {
    flex-wrap: wrap;
    justify-content: center;
}


/* Color Palette: 

Lightest: #E6E4E7
Primary: #2c5391
Secondary #EAC435
Darkest: #080707
*/